@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 346px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.topImgIcon{
    display: flex;
    gap: 20px;
}
.topImgIcon1{
    width: 86.041px;
    height: 40px;
    margin-top: 26px;
}
nav >ul {
    display: flex;
    margin-left:37px 240px;
    
}
nav li{
    list-style: none;
    margin-right:32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
   
}
nav li a{
    text-decoration: none;
}